extends layout

block content

    h1 Bienvenido a Fotaza

    if user

        p Hola #{user.nombre}

        a(href="/crear-publicacion")
            button Nueva publicación

        br
        br

        form(action="/logout" method="POST")
            button(type="submit") Cerrar sesión

        hr

        each publicacion in publicaciones

            div(style="border:1px solid #ccc; padding:15px; margin-bottom:20px;")

                h2= publicacion.titulo

                p= publicacion.descripcion

                p
                    b Autor:
                    |  #{publicacion.nombre} #{publicacion.apellido}

                if publicacion.imagen_base64

                    img(
                        src=publicacion.imagen_base64
                        style="max-width:500px; max-height:500px;"
                    )
                    br
                    br

                    p
                        b Valoración:
                        |  ⭐ #{publicacion.promedio_valoracion} / 5 (#{publicacion.cantidad_valoraciones} votos)
                    form(action=`/valorar/${publicacion.id_imagen}` method="POST")
                        select(name="valor" required)
                            option(value="1") ⭐ 1
                            option(value="2") ⭐⭐ 2
                            option(value="3") ⭐⭐⭐ 3
                            option(value="4") ⭐⭐⭐⭐ 4
                            option(value="5") ⭐⭐⭐⭐⭐ 5

                        button(type="submit") Valorar

    else

        a(href="/login") Iniciar sesión

        br

        a(href="/signup") Registrarse